In [1]:
import requests
import lxml.html as lh
import pandas as pd

In [2]:
url='https://www.expansion.com/mercados/cotizaciones/indices/ibex35_I.IB.html'

#Create a handle, page, to handle the contents of the website
page = requests.get(url)

#Store the contents of the website under doc
doc = lh.fromstring(page.content)

#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

print('sucess')

sucess

In [116]:
#Check the length of the first 12 rows
a = [len(T) for T in tr_elements[:53]]
#a

In [4]:
#get first two elements
tr_elements_st = tr_elements[0:2]
[len(T) for T in tr_elements_st[:2]]

[5, 5]

In [124]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[18][0:10]: #de 18 a 52
    i+=1
    name=t.text_content()
    print (i, name)
    col.append(name)

1 ACCIONA
2 113,600
3 2,90
4 3,20
5 23,73
6 113,800
7 110,000
8 88.239
9 6.232
10 16:49

In [125]:
coll = [x.replace(',','.') for x in col]
coll

['ACCIONA',
 '113.600',
 '2.90',
 '3.20',
 '23.73',
 '113.800',
 '110.000',
 '88.239',
 '6.232',
 '16:49']

In [98]:
col_names = ['Valor', 'Ultimo', 'Variacion (%)', 'Variacion', 'Variacion Año', 'Max', 'Min', 'Volumen', 'Capitalizacion (Mil-Mill)', 'Hora']
type(col_names)

list

In [109]:
df = pd.DataFrame(columns = col_names )
df.loc[0] = coll
#df = df.set_index('Valor')
df = df.drop(['Hora'],axis=1)

df

,Valor,Ultimo,Variacion (%),Variacion,Variacion Año,Max,Min,Volumen,Capitalizacion (Mil-Mill)
0,ACCIONA,113.600,2.90,3.20,23.73,113.800,110.000,88.239,6.232

In [108]:
a = df.loc['ACCIONA'].astype(float)
a

Ultimo                       113.600
Variacion (%)                  2.900
Variacion                      3.200
Variacion Año                 23.730
Max                          113.800
Min                          110.000
Volumen                       88.239
Capitalizacion (Mil-Mill)      6.232
Name: ACCIONA, dtype: float64

In [114]:
df_IBEX35 = pd.DataFrame(columns = col_names )
df_IBEX35 = df_IBEX35.drop(['Hora'],axis=1)
df_IBEX35

Empty DataFrame
Columns: [Valor, Ultimo, Variacion (%), Variacion, Variacion Año, Max, Min, Volumen, Capitalizacion (Mil-Mill)]
Index: []

In [115]:
df_IBEX35 = df_IBEX35.append(df)
df_IBEX35

,Valor,Ultimo,Variacion (%),Variacion,Variacion Año,Max,Min,Volumen,Capitalizacion (Mil-Mill)
0,ACCIONA,113.600,2.90,3.20,23.73,113.800,110.000,88.239,6.232

In [42]:
i=0
for t in tr_elements_st[1][0:1]:
    i+=1
    name=t.text_content()
    print (i, name)
    col.append((name,[]))

1 8.122,50 (16:51)

In [24]:
name

'8.122,50 (16:51)'

In [40]:
x = name.split(' ')
x

['8.122,50', '(16:51)']

In [27]:
x[0]

'8.122,50 '

In [31]:
xx = x[0].replace('.','')
xx

'8122,50 '

In [38]:
value = float(xx.replace(',',('.')))
value

8122.5

In [39]:
value = float(x[0].replace('.','').replace(',',('.')))
value

8122.5

set new dataframe for all ibex35

In [137]:
tr_elements = doc.xpath('//tr')

#set dataframe contex
col_names = ['Valor', 'Ultimo', 'Variacion (%)', 'Variacion', 'Variacion Año', 'Max', 'Min', 'Volumen', 'Capitalizacion (Mil-Mill)']
df_IBEX35 = pd.DataFrame(columns = col_names )

for vv in range(18,52+1):
    col=[]    
    #For each row, store each first element (header) and an empty list
    for t in tr_elements[vv][0:9]: #de 18 a 52 --> for each value do:
        name=t.text_content()
        col.append(name)
        
        #set values in appropiate format
        coll = [x.replace(',','.') for x in col]
        
    #set dataframe for each value
    df = pd.DataFrame(columns = col_names )
    df.loc[0] = coll
        
    #Incorporate last value on IBEX35 df
    df_IBEX35 = df_IBEX35.append(df)
    

df_IBEX35 = df_IBEX35.set_index('Valor')

In [138]:
df_IBEX35

,Ultimo,Variacion (%),Variacion,Variacion Año,Max,Min,Volumen,Capitalizacion (Mil-Mill)
Valor,,,,,,,,
ACCIONA,113.600,2.90,3.20,23.73,113.800,110.000,88.239,6.232
ACERINOX,9.018,-0.40,-0.04,-5.08,9.160,8.996,525.188,2.440
ACS,26.930,-1.43,-0.39,-17.97,27.520,26.630,318.235,8.366
AENA,138.900,0.43,0.60,-18.53,140.900,138.700,85.751,20.835
ALMIRALL,11.120,1.46,0.16,-22.39,11.170,10.870,343.729,1.981
AMADEUS IT GROUP,58.680,-1.34,-0.80,-18.79,59.960,57.920,384.314,26.435
ARCELORMITTAL,18.900,1.23,0.23,21.00,19.368,18.842,815.845,20.843
BANCO SABADELL,0.368,-2.78,-0.01,-63.09,0.382,0.367,37.036.568,2.068
BANKIA,1.532,-2.33,-0.04,-9.46,1.584,1.528,2.710.820,4.703
BANKINTER,4.458,-2.11,-0.10,-29.76,4.647,4.441,2.557.929,4.007
BBVA,4.026,-1.78,-0.07,-14.61,4.118,4.019,9.218.129,26.845
CAIXABANK,2.249,-2.43,-0.06,-18.79,2.334,2.247,8.034.092,13.452
CELLNEX TELECOM,50.660,0.64,0.32,41.69,51.340,50.320,359.854,24.657
CIE. AUTOMOTIVE,20.920,0.58,0.12,1.72,21.140,20.660,107.065,2.564
COLONIAL,8.335,2.21,0.18,-24.77,8.480,8.160,287.346,4.235
ENAGAS,20.090,-0.79,-0.16,-7.79,20.460,20.030,560.229,5.263
ENDESA,22.540,1.17,0.26,-1.92,22.610,22.280,551.307,23.864
FERROVIAL,23.100,-0.52,-0.12,-12.26,23.470,22.940,264.570,17.264
GRIFOLS,24.550,1.36,0.33,-21.39,24.550,24.150,308.284,10.461
IAG,1.778,1.77,0.03,-62.88,1.820,1.766,18.297.608,8.837
IBERDROLA,11.260,0.40,0.05,27.83,11.350,11.165,3.511.797,71.502
INDITEX,26.640,-0.49,-0.13,-13.91,26.960,26.510,1.419.822,83.028
INDRA,6.660,-0.52,-0.04,-34.58,6.745,6.635,429.269,1.177
MAPFRE,1.712,1.60,0.03,-23.74,1.727,1.686,4.515.610,5.272
MELIÁ HOTELS,5.655,-2.16,-0.12,-28.05,5.870,5.655,944.195,1.246
MERLIN PROP.,7.785,0.58,0.05,-39.13,7.920,7.730,375.644,3.657
NATURGY,19.040,0.47,0.09,-7.58,19.060,18.845,386.146,18.461
PHARMA MAR,75.850,2.02,1.50,77.87,76.400,72.600,95.433,1.392
RED ELÉCTRICA,16.690,0.06,0.01,-1.07,16.905,16.670,359.444,9.031
REPSOL,8.662,-0.96,-0.08,-34.08,8.966,8.612,5.357.475,14.088
SANTANDER,2.659,-1.66,-0.05,-25.61,2.735,2.654,28.441.940,46.117
SIEMENS GAMESA,28.780,0.45,0.13,84.55,29.020,28.550,619.293,19.603
SOLARIA,20.880,4.30,0.86,207.06,20.960,20.000,784.744,2.609
TELEFÓNICA,3.426,-1.21,-0.04,-39.46,3.524,3.401,10.680.706,18.255
VISCOFAN,59.600,0.68,0.40,28.60,59.650,58.400,51.425,2.771

In [139]:
col

['VISCOFAN',
 '59,600',
 '0,68',
 '0,40',
 '28,60',
 '59,650',
 '58,400',
 '51.425',
 '2.771']

In [140]:
x =[x.replace('.','').replace(',','.') for x in col]

In [141]:
x

['VISCOFAN',
 '59.600',
 '0.68',
 '0.40',
 '28.60',
 '59.650',
 '58.400',
 '51425',
 '2771']